# Ignore Python compiled files
__pycache__/
*.py[cod]
*.pyo
*.so

# Ignore virtual environments
env/
venv/
ENV/
.venv/

# Ignore environment variable files
.env

# Ignore IDE/editor config files
.vscode/
.idea/
*.swp

# Ignore output log
job_output.txt

# Bytecode and system-specific files
.DS_Store
Thumbs.db
